*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1140px;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    margin-top: 200px;

}

.box{
    height: 100%;
    background: rgba(173, 115, 38, 0.514);
 display: flex;
justify-content: space-around;
align-items: center;
border-radius: 20px;
border: 1px solid goldenrod;

}

.item{
    width: 50px;
    height: 50px;
    transition: 300ms;
    cursor: pointer;
    transition: 300ms;
}

.item:hover{
   transform: scale(1.1);
}




@media(max-width:1200px){
.box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    margin: 0 auto;
    background-color: pink;
    border:none;
}

.item{
 margin:0 auto;
}
}


@media(max-width:576px){
    .box{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 70%;
        height: 300px;
        background-color: rgba(136, 125, 62, 0.616);
        border-color: black;
      
    }
    
}
